/*! CSS Used from: https://s.pinimg.com/webapp/65799-27a6e0509066ce86.css */
.hCL[alt] {
  color: transparent;
}
.N7A {
  height: 100%;
  width: 100%;
}
@media (inverted-colors) {
  .hCL,
  .N7A {
    filter: invert(100%);
  }
}
.iyn:focus {
  box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
  outline: 0;
}
.L4E {
  width: 100%;
  width: calc(12 / var(--g-ncols) * 100%);
}
.kVc {
  display: block;
}
.XiG {
  position: relative;
}
.MIw {
  position: absolute;
}
.Hsu {
  box-sizing: border-box;
}
/*! CSS Used from: https://s.pinimg.com/webapp/PricingOneBusiness/_client-06d344d93ca15eb2.css */
.PricingOneBusinessEditorialFeaturedHeaderContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.PricingOneBusinessEditorialFeaturedHeader {
  display: flex;
  max-height: 740px;
  max-width: 1920px;
  width: 100%;
}
@media (min-width: 1024px) {
  .PricingOneBusinessEditorialFeaturedHeader {
    max-height: 740px;
    min-height: 686px;
  }
}
.PricingOneBusinessEditorialFeaturedHeader__text {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.PricingOneBusinessEditorialFeaturedHeader__image {
  height: 100%;
}
.PricingOneBusinessEditorialFeaturedHeader__section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.PricingOneBusinessEditorialFeaturedHeader__section.PricingOneBusinessEditorialFeaturedHeader__image {
  flex-direction: row;
}
.PricingOneBusinessEditorialFeaturedHeader__text-section {
  padding: 20px 16px;
}
.PricingOneBusinessEditorialFeaturedHeader__text-section-container {
  flex-grow: 1;
  height: 100%;
  text-decoration: none;
}
.PricingOneBusinessEditorialFeaturedHeader__text--headerText {
  display: flex;
}
@media (min-width: 1024px) and (max-width: 1180px) {
  .PricingOneBusinesscolorPricingOneBusinessEditorialFeaturedHeader__text--headerText--desktop {
    font-size: 44px;
    line-height: 1.1818181818;
  }
}
@media (min-width: 1181px) {
  .PricingOneBusinesscolorPricingOneBusinessEditorialFeaturedHeader__text--headerText--desktop {
    font-size: 64px;
    line-height: 1.125;
  }
}
@media (min-width: 768px) {
  .PricingOneBusinessEditorialFeaturedHeader__text-section {
    padding: 20px 38px;
  }
}
@media (min-width: 1024px) {
  .PricingOneBusinessEditorialFeaturedHeader__text-section {
    padding: 40px 72px;
  }
}
@media screen and (orientation: portrait) {
  .PricingOneBusinessEditorialFeaturedHeader {
    flex-direction: column;
  }
  .PricingOneBusinessEditorialFeaturedHeader__text-section {
    flex-direction: column-reverse;
  }
  .PricingOneBusinessEditorialFeaturedHeader__section {
    height: 50%;
  }
}
@media screen and (orientation: landscape) {
  .PricingOneBusinessEditorialFeaturedHeader {
    flex-direction: row;
  }
  .PricingOneBusinessEditorialFeaturedHeader__section {
    width: 50%;
  }
}
::-webkit-input-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
::-moz-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
:-ms-input-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
:-moz-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.PricingOneBusinessText {
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  transition: color 0.45s cubic-bezier(0.21, 0.01, 0.21, 0.96);
}
.PricingOneBusinessText--centered {
  text-align: center;
}
.PricingOneBusinessText--t3 {
  font-size: 17px;
  line-height: 135%;
}
@media (min-width: 768px) {
  .PricingOneBusinessText--t3 {
    font-size: 18px;
    line-height: 135%;
  }
}
@media (min-width: 1024px) {
  .PricingOneBusinessText--t3 {
    font-size: 20px;
    line-height: 130%;
  }
}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
p {
  margin-bottom: auto;
  margin-top: auto;
}
