/*! CSS Used from: https://s.pinimg.com/webapp/65799-27a6e0509066ce86.css */
.iyn:focus {
  box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
  outline: 0;
}
.Hsu {
  box-sizing: border-box;
}
/*! CSS Used from: https://s.pinimg.com/webapp/WhyChosseUsBusiness/_client-06d344d93ca15eb2.css */
.WhyChosseUsBusinessHeadingLockup .WhyChosseUsBusinessHeadingLockup__heading {
  margin: 0;
}
.WhyChosseUsBusinessHeadingLockup
  .WhyChosseUsBusinessHeadingLockup__subheading {
  margin: 16px 0 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .WhyChosseUsBusinessHeadingLockup
    .WhyChosseUsBusinessHeadingLockup__subheading {
    margin: 20px auto 0;
    max-width: 456px;
  }
}
@media (min-width: 1024px) {
  .WhyChosseUsBusinessHeadingLockup
    .WhyChosseUsBusinessHeadingLockup__subheading {
    margin: 30px 0 0;
  }
}
.ColumnList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .ColumnList {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
  }
}
.WhyChosseUsBusinessContentIcon--actalikes {
  height: 55px;
  width: 80px;
}
.WhyChosseUsBusinessContentIcon--automated-targeting {
  height: 72px;
  width: 72px;
}
.WhyChosseUsBusinessContentIcon--customer-lists,
.WhyChosseUsBusinessContentIcon--demographics {
  height: 55px;
  width: 55px;
}
.WhyChosseUsBusinessContentIcon--interests {
  height: 72px;
  width: 114px;
}
.WhyChosseUsBusinessContentIcon--keywords {
  height: 55px;
  width: 55px;
}
::-webkit-input-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
::-moz-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
:-ms-input-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
:-moz-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.WhyChosseUsBusinessText {
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  transition: color 0.45s cubic-bezier(0.21, 0.01, 0.21, 0.96);
}
.WhyChosseUsBusinessText--centered {
  text-align: center;
}
.WhyChosseUsBusinessText--t1 {
  font-size: 20px;
  line-height: 130%;
}
.WhyChosseUsBusinessText--t3 {
  font-size: 17px;
  line-height: 135%;
}
.WhyChosseUsBusinessText--t4 {
  font-size: 16px;
  line-height: 135%;
}
.WhyChosseUsBusinessText--h2 {
  font-size: 40px;
  line-height: 115%;
}
@media (min-width: 768px) {
  .WhyChosseUsBusinessText--t1 {
    font-size: 24px;
    line-height: 130%;
  }
  .WhyChosseUsBusinessText--t3 {
    font-size: 18px;
    line-height: 135%;
  }
  .WhyChosseUsBusinessText--h2 {
    font-size: 44px;
    line-height: 115%;
  }
}
@media (min-width: 1024px) {
  .WhyChosseUsBusinessText--t1 {
    font-size: 26px;
    line-height: 130%;
  }
  .WhyChosseUsBusinessText--t3 {
    font-size: 20px;
    line-height: 130%;
  }
  .WhyChosseUsBusinessText--t4 {
    font-size: 18px;
    line-height: 135%;
  }
  .WhyChosseUsBusinessText--h2 {
    font-size: 64px;
    letter-spacing: -0.005em;
    line-height: 115%;
  }
}
@media (max-width: 1023px) {
  .WhyChosseUsBusinessTextBlock--centered-mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .WhyChosseUsBusinessTextBlock--centered-mobile
    .WhyChosseUsBusinessTextBlock__body,
  .WhyChosseUsBusinessTextBlock--centered-mobile
    .WhyChosseUsBusinessTextBlock__heading {
    text-align: center;
  }
}
.WhyChosseUsBusinessTextBlock__icon {
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .WhyChosseUsBusinessTextBlock__icon {
    margin-bottom: 30px;
  }
}
.WhyChosseUsBusinessTextBlock__heading {
  margin: 0 0 12px;
}
.WhyChosseUsBusinessTextBlock__body {
  margin: 0;
}
.WhyChosseUsBusinessTwoColumnSection {
  margin: 0 auto;
  max-width: 1012px;
  padding: 64px 15px 30px;
}
@media (min-width: 768px) {
  .WhyChosseUsBusinessTwoColumnSection {
    padding: 72px 57px 30px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .WhyChosseUsBusinessTwoColumnSection {
    max-width: 782px;
  }
}
@media (min-width: 1024px) {
  .WhyChosseUsBusinessTwoColumnSection {
    padding-top: 88px;
  }
}
.WhyChosseUsBusinessTwoColumnSection__headings {
  margin-bottom: 60px;
}
.WhyChosseUsBusinessTwoColumnSection__listItem {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .WhyChosseUsBusinessTwoColumnSection__headings {
    margin-bottom: 120px;
  }
  .WhyChosseUsBusinessTwoColumnSection__listItem {
    margin-bottom: 82px;
  }
  .WhyChosseUsBusinessTwoColumnSection li {
    box-sizing: border-box;
  }
  .ColumnList__listItem:nth-child(odd)
    .WhyChosseUsBusinessTwoColumnSection__listItem {
    margin-right: 32px;
  }
  .ColumnList__listItem:nth-child(2n)
    .WhyChosseUsBusinessTwoColumnSection__listItem {
    margin-left: 32px;
  }
}
@media (min-width: 1024px) {
  .WhyChosseUsBusinessTwoColumnSection__listItem {
    max-width: 420px;
  }
  .ColumnList__listItem:nth-child(odd)
    .WhyChosseUsBusinessTwoColumnSection__listItem {
    margin-right: 100px;
  }
  .ColumnList__listItem:nth-child(2n)
    .WhyChosseUsBusinessTwoColumnSection__listItem {
    margin-left: 100px;
  }
}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
p {
  margin-bottom: auto;
  margin-top: auto;
}

.Hru {
  border: none;
  height: 2px;
  margin-bottom: 3rem;
  margin-top: 3rem;
  background-image: -webkit-linear-gradient(
    left,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-image: -moz-linear-gradient(
    left,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-image: -o-linear-gradient(
    left,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );

  background-image: linear-gradient(
    to right,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  -webkit-background-size: 6px 2px;
  -moz-background-size: 6px 2px;
  -o-background-size: 6px 2px;
  background-size: 6px 2px;
  background-repeat: repeat-x;
}

@media (min-width: 768px) {
  .Hru {
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
}
