/*! CSS Used from: https://s.pinimg.com/webapp/65799-27a6e0509066ce86.css */
.hCL[alt] {
  color: transparent;
}
@media (inverted-colors) {
  .hCL {
    filter: invert(100%);
  }
}
.iyn:focus {
  box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
  outline: 0;
}
.L4E {
  width: 100%;
  width: calc(12 / var(--g-ncols) * 100%);
}
.kVc {
  display: block;
}
.XiG {
  position: relative;
}
.MIw {
  position: absolute;
}
.Hsu {
  box-sizing: border-box;
}
/*! CSS Used from: https://s.pinimg.com/webapp/EffortlessBusiness/_client-974a0e9277f4d45a.css */
::-webkit-input-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
::-moz-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
:-ms-input-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
:-moz-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.EffortlessBusinessGridParent {
  grid-column-gap: 8px;
  grid-row-gap: 10px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  margin: 0 16px;
  row-gap: 10px;
}
@media (min-width: 768px) {
  .EffortlessBusinessGridParent {
    -moz-column-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin: 0 56px;
    row-gap: 25px;
  }
}
@media (min-width: 1024px) {
  .EffortlessBusinessGridParent {
    grid-template-columns: repeat(24, minmax(0, 1fr));
    margin: 0 112px;
    max-width: 1696px;
    row-gap: 32px;
  }
}
@media (min-width: 1920px) {
  .EffortlessBusinessGridParent {
    margin: 0 auto;
  }
}
.EffortlessBusinessGridItem {
  grid-column: auto/auto;
  position: relative;
}
.EffortlessBusinessGridItem.EffortlessBusinessGridItem--center-vertical {
  align-self: center;
}
.EffortlessBusinessGridParent--nowrap .EffortlessBusinessGridItem {
  grid-row-start: 1;
}
.EffortlessBusinessGridItem--span-4 {
  grid-column-end: span 4;
}
.EffortlessBusinessGridItem--span-6 {
  grid-column-end: span 6;
}
.EffortlessBusinessGridItem--span-8 {
  grid-column-end: span 8;
}
.EffortlessBusinessGridItem--start-1 {
  grid-column-start: 1;
}
.EffortlessBusinessGridItem--start-2 {
  grid-column-start: 2;
}
.EffortlessBusinessGridItem--start-3 {
  grid-column-start: 3;
}
.EffortlessBusinessGridItem--row-start-1 {
  grid-row-start: 1;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .EffortlessBusinessGridItem--span-m-5 {
    grid-column-end: span 5;
  }
  .EffortlessBusinessGridItem--start-m-2 {
    grid-column-start: 2;
  }
  .EffortlessBusinessGridItem--start-m-8 {
    grid-column-start: 8;
  }
  .EffortlessBusinessGridItem--row-start-m-1 {
    grid-row-start: 1;
  }
  .EffortlessBusinessGridItem--row-start-m-2 {
    grid-row-start: 2;
  }
}
@media (min-width: 1024px) {
  .EffortlessBusinessGridItem--span-l-8 {
    grid-column-end: span 8;
  }
  .EffortlessBusinessGridItem--span-l-10 {
    grid-column-end: span 10;
  }
  .EffortlessBusinessGridItem--start-l-3 {
    grid-column-start: 3;
  }
  .EffortlessBusinessGridItem--start-l-14 {
    grid-column-start: 14;
  }
}
.EffortlessBusinessSubheadingLockup {
  margin-top: 40px;
}
@media (min-width: 768px) {
  .EffortlessBusinessSubheadingLockup {
    margin-top: 32px;
  }
}
@media (min-width: 1024px) {
  .EffortlessBusinessSubheadingLockup:first-child {
    margin-bottom: 0;
  }
}
.EffortlessBusinessHeadingLockupWithSubheading__subheading {
  margin: 0 0 12px;
}
.EffortlessBusinessSubheadingLockup__copy {
  margin: 0;
}
.EffortlessBusinessText {
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  transition: color 0.45s cubic-bezier(0.21, 0.01, 0.21, 0.96);
}
.EffortlessBusinessText a {
  color: inherit;
}
.EffortlessBusinessText--t4 {
  font-size: 16px;
  line-height: 135%;
}
.EffortlessBusinessText--h2 {
  font-size: 40px;
  line-height: 115%;
}
.EffortlessBusinessText--h5 {
  font-size: 24px;
  line-height: 130%;
}
@media (min-width: 768px) {
  .EffortlessBusinessText--h2 {
    font-size: 44px;
    line-height: 115%;
  }
  .EffortlessBusinessText--h5 {
    font-size: 26px;
    line-height: 130%;
  }
}
@media (min-width: 1024px) {
  .EffortlessBusinessText--t4 {
    font-size: 18px;
    line-height: 135%;
  }
  .EffortlessBusinessText--h2 {
    font-size: 64px;
    letter-spacing: -0.005em;
    line-height: 115%;
  }
  .EffortlessBusinessText--h5 {
    font-size: 32px;
    line-height: 130%;
  }
}
.EffortlessBusinessTextAndImage {
  padding: 60px 0;
  position: relative;
}
.EffortlessBusinessTextAndImage__heading {
  margin: 0 0 32px;
}
.EffortlessBusinessTextAndImage__container {
  display: flex;
  justify-content: center;
}
.EffortlessBusinessTextAndImage__image {
  width: 100%;
}
.EffortlessBusinessTextAndImage .EffortlessBusinessGridParent {
  row-gap: 0;
}
.EffortlessBusinessTextAndImage .EffortlessBusinessSubheadingLockup {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.EffortlessBusinessTextAndImage .EffortlessBusinessText {
  text-align: center;
}
.EffortlessBusinessTextAndImage__image img {
  position: relative !important;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .EffortlessBusinessTextAndImage__image img {
    position: absolute !important;
  }
  .EffortlessBusinessTextAndImage {
    padding: 100px 0;
  }
  .EffortlessBusinessTextAndImage__container {
    grid-row: 1/3;
  }
  .EffortlessBusinessGridParent--nowrap
    .EffortlessBusinessTextAndImage__subhead-container {
    grid-row-start: 2;
  }
  .EffortlessBusinessTextAndImage__heading-container {
    align-self: end;
  }
  .EffortlessBusinessTextAndImage__subhead-container {
    align-self: start;
  }
  .EffortlessBusinessTextAndImage
    .EffortlessBusinessTextAndImage__heading-container {
    margin-bottom: 0;
  }
  .EffortlessBusinessTextAndImage
    .EffortlessBusinessTextAndImage__subhead-container {
    display: block;
  }
  .EffortlessBusinessTextAndImage .EffortlessBusinessSubheadingLockup {
    align-items: start;
  }
  .EffortlessBusinessTextAndImage .EffortlessBusinessText {
    text-align: left;
  }
  .EffortlessBusinessTextAndImage__heading {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .EffortlessBusinessTextAndImage__image img {
    position: absolute !important;
  }
  .EffortlessBusinessTextAndImage {
    padding: 105px 0;
  }
  .EffortlessBusinessTextAndImage__image {
    max-height: 640px;
  }
  .EffortlessBusinessTextAndImage__image img {
    max-height: 640px;
    max-width: 100%;
    width: auto;
  }
  .EffortlessBusinessTextAndImage__container {
    grid-row: 1/3;
    margin-bottom: 0;
  }
  .EffortlessBusinessGridParent--nowrap
    .EffortlessBusinessTextAndImage__subhead-container {
    grid-row-start: 2;
  }
  .EffortlessBusinessTextAndImage__heading-container {
    align-self: end;
  }
  .EffortlessBusinessTextAndImage__subhead-container {
    align-self: start;
  }
  .EffortlessBusinessTextAndImage
    .EffortlessBusinessTextAndImage__heading-container {
    margin-bottom: 0;
  }
  .EffortlessBusinessTextAndImage
    .EffortlessBusinessTextAndImage__subhead-container {
    display: block;
  }
  .EffortlessBusinessTextAndImage .EffortlessBusinessSubheadingLockup {
    align-items: start;
  }
  .EffortlessBusinessTextAndImage .EffortlessBusinessText {
    text-align: left;
  }
  .EffortlessBusinessTextAndImage__heading {
    margin: 0;
  }
}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
p {
  margin-bottom: auto;
  margin-top: auto;
}
