/*! CSS Used from: https://s.pinimg.com/webapp/GetStartedBusiness/_client-06d344d93ca15eb2.css */
.trackingDiv {
  display: inherit;
  height: inherit;
  width: inherit;
}
.GetStartedBusinessButton {
  background: transparent;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  min-width: 70px;
  padding: 0 14px;
  text-align: center;
  text-decoration: none;
  transition: all 0.1s cubic-bezier(0.21, 0.01, 0.21, 0.96);
}
.GetStartedBusinessButton .GetStartedBusinessText {
  transition: color 0.1s cubic-bezier(0.21, 0.01, 0.21, 0.96);
}
.GetStartedBusinessButtonText {
  align-self: center;
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .GetStartedBusinessButton {
    border-radius: 25px;
    height: 50px;
    min-width: 80px;
    padding: 0 19px;
  }
}
@media (min-width: 1024px) {
  .GetStartedBusinessButton {
    border-radius: 30px;
    height: 60px;
    min-width: 80px;
    padding: 0 24px;
  }
}
.GetStartedBusinessButton:focus {
  outline: 0;
}
::-webkit-input-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
::-moz-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
:-ms-input-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
:-moz-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.GetStartedBusinessGridParent {
  grid-column-gap: 8px;
  grid-row-gap: 10px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  margin: 0 16px;
  row-gap: 10px;
}
@media (min-width: 768px) {
  .GetStartedBusinessGridParent {
    -moz-column-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin: 0 56px;
    row-gap: 25px;
  }
}
@media (min-width: 1024px) {
  .GetStartedBusinessGridParent {
    grid-template-columns: repeat(24, minmax(0, 1fr));
    margin: 0 112px;
    max-width: 1696px;
    row-gap: 32px;
  }
}
@media (min-width: 1920px) {
  .GetStartedBusinessGridParent {
    margin: 0 auto;
  }
}
.GetStartedBusinessGridItem {
  grid-column: auto/auto;
  position: relative;
}
.GetStartedBusinessGridItem--span-8 {
  grid-column-end: span 8;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .GetStartedBusinessGridItem--span-m-10 {
    grid-column-end: span 10;
  }
  .GetStartedBusinessGridItem--start-m-2 {
    grid-column-start: 2;
  }
}
@media (min-width: 1024px) {
  .GetStartedBusinessGridItem--span-l-14 {
    grid-column-end: span 14;
  }
  .GetStartedBusinessGridItem--start-l-6 {
    grid-column-start: 6;
  }
}
.GetStartedBusinessText {
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  transition: color 0.45s cubic-bezier(0.21, 0.01, 0.21, 0.96);
}
.GetStartedBusinessText--centered {
  text-align: center;
}
.GetStartedBusinessText--bold {
  font-weight: 700;
}
.GetStartedBusinessText--cta {
  font-size: 16px;
  line-height: 135%;
}
.BlogContentWrapperHeaderCtas {
  margin: 28px 0 0;
}
@media (max-width: 767px) {
  .BlogContentWrapperHeaderCtas {
    margin: 2px 0 0;
  }
  .BlogContentWrapperHeaderCtas
    .GetStartedBusinessButtonCollection__button-wrapper {
    margin-top: 24px;
  }
}
@media (min-width: 1024px) {
  .BlogContentWrapperHeaderCtas {
    margin: 18px 0 0;
  }
  .BlogContentWrapperHeaderCtas .GetStartedBusinessGridItem {
    grid-column-end: span 24 !important;
    grid-column-start: 1 !important;
  }
}
.GetStartedBusinessButtonCollection {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 4px;
}
.GetStartedBusinessButtonCollection__button-wrapper {
  margin-top: 14px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .GetStartedBusinessButtonCollection {
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 6px;
  }
  .GetStartedBusinessButtonCollection__button-wrapper {
    margin-right: 14px;
    margin-top: 14px;
  }
}
@media (min-width: 1024px) {
  .GetStartedBusinessButtonCollection {
    flex-direction: row;
    margin-bottom: 24px;
  }
  .GetStartedBusinessButtonCollection__button-wrapper {
    margin-right: 16px;
    margin-top: 16px;
  }
}
.GetStartedBusinessFlexibleHeader {
  transition: background-color 0.45s cubic-bezier(0.21, 0.01, 0.21, 0.96);
}
.GetStartedBusinessFlexibleHeader__h2
  .GetStartedBusinessFlexibleHeader__container.GetStartedBusinessFlexibleHeaderGridAlignment__center {
  margin: auto;
}
.BlogContentWrapperHeaderCtas.GetStartedBusinessFlexibleHeaderGridAlignment__center
  .GetStartedBusinessButtonCollection {
  justify-content: center;
}
.GetStartedBusinessFlexibleHeader__h2
  .GetStartedBusinessFlexibleHeader__container {
  margin: auto;
  max-width: 1008px;
}
.GetStartedBusinessFlexibleHeader__h2 .GetStartedBusinessFlexibleHeaderGrid {
  grid-column-end: span 24;
  grid-column-start: 1;
  padding: 84px 0;
}
.GetStartedBusinessFlexibleHeader__title h2 {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -0.005em;
  line-height: 115%;
  margin: 0;
  padding: 32px 0;
}
.GetStartedBusinessFlexibleHeader__title p {
  margin: 0;
}
.GetStartedBusinessFlexibleHeader .BlogContentWrapperHeaderCtas {
  margin: 0;
  padding: 8px 0 24px;
}
.GetStartedBusinessFlexibleHeader
  .BlogContentWrapperHeaderCtas
  .GetStartedBusinessButtonCollection {
  padding: 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .GetStartedBusinessFlexibleHeader__h2 .GetStartedBusinessFlexibleHeaderGrid {
    grid-column-end: span 12;
    grid-column-start: 1;
  }
  .GetStartedBusinessFlexibleHeader__h2 .GetStartedBusinessFlexibleHeaderGrid {
    padding: 64px 0;
  }
  .GetStartedBusinessFlexibleHeader__title h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 115%;
  }
}
@media (max-width: 767px) {
  .GetStartedBusinessFlexibleHeader__h2 .GetStartedBusinessFlexibleHeaderGrid {
    grid-column-end: span 8;
    grid-column-start: 1;
  }
  .GetStartedBusinessFlexibleHeader__h2 .GetStartedBusinessFlexibleHeaderGrid {
    padding: 56px 0;
  }
  .GetStartedBusinessFlexibleHeader__title h2 {
    font-size: 38px;
    font-weight: 400;
    line-height: 115%;
  }
}
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
p {
  margin-bottom: auto;
  margin-top: auto;
}
